.checklist {
    background-color: var(--first-color-light);
}

.arrow-btns {
    display: flex;
    justify-content: space-between;
}

.active-index-display {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1200px) {
    .checklist-container.page-main {
        width: 600px;
    }

}