@import url("../../../stylevars.css");
@import url("../../../index.css");

.card-md {
    transition: height 600ms ease-out;
    padding: 2rem 1rem;
}

.card-sm {
    transition: height 600ms ease-out;
    align-items: center;
}

.checklist-item {
    cursor: pointer;
    transition: height 200ms ease-out, background-color 300ms ease-in-out;
    display: flex;
    margin-bottom: 2rem;
}

.checklist-item:hover {
    background-color: var(--second-color);
}

.item-number {
    margin-right: 2rem;
    font-weight: bold;
}