.card-md {
    transition: height 600ms ease-out;
}

.card-sm {
    transition: height 600ms ease-out;
}

.checklist-item {
    background-color: antiquewhite;
    margin-bottom: 1rem;
    transition: height 200ms ease-out;
}