@import url("../../stylevars.css");
@import url("../../index.css");

.menu-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--first-color-light) url('../../assets/menu-image.png');
    background-position-y: 120%;
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--text-color);
    z-index: 100;
}

.menu-page .page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-page .page-main ul {
    list-style-type: none;
    width: 80%;
}

.menu-page .page-main ul li {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 2rem;
}

.menu-page .page-main ul li a {
    width: 100%;
    font-weight: bold;

}

@media screen and (min-width: 900px) {
    .menu-page {
        background-size: 70%;
        background-position: center;
        background-position-y: 120%;

    }

    .menu-page .page-main ul {
        width: 40%;
    }

    li {
        margin-bottom: 3rem;
    }
}