* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    font-size: 18px;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3.052rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

button {
    padding: 1rem;
}

[class*="card"] {
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(221, 221, 221);
    padding: 1rem;
    transition: height 200ms ease-out;
    cursor: pointer;
}