/* color variables */
:root {
    --first-color: rgb(255, 243, 220);
    --second-color: rgb(255, 255, 228);
    --third-color: rgb(255, 219, 172);
    --text-color: rgb(51, 51, 51);
    --first-color-light: rgb(255, 251, 244);
}